Repository wilx/aries, changes with the labels that .github/labeler.yml gives for each.
All labels: application, async, blueprint, eba-maven-plugin, ejb, esa-ant-task, esa-maven-plugin, jmx, jndi, parent, proxy, pushstream, samples, sandbox, spi-fly, subsystem, testsupport, transaction, tutorials, util, versioning, web

[MAINTENANCE] Remove unused dependencies in blueprint/examples/blueprint-sample-fragment
  blueprint/examples/blueprint-sample-fragment/pom.xml
Labels: blueprint

[MAINTENANCE] Replace deprecated @Component with @Inject in maven plugins (#436)
  blueprint/plugin/blueprint-maven-plugin/src/main/java/org/apache/aries/blueprint/plugin/GenerateMojo.java
  versioning/versioning-plugin/pom.xml
  versioning/versioning-plugin/src/main/java/org/apache/aries/versioning/mojo/VersionCheckerMojo.java
Labels: blueprint, versioning

ARIES-2165: Update web-itests depdendencies for new testsuppport
  web/web-itests/pom.xml
Labels: web

Do not update modules without CI builds
  samples/pom.xml
Labels: samples

[MAINTENANCE] Ignore org.apache.servicemix.bundles.spring-* 6.x as not supporting Java 8
  .github/dependabot.yaml
Labels: none

ARIES-2165: Use links to testsupport instead of copying files in application
  application/application-itests/src/test/java/org/apache/aries/itest
  application/application-itests/src/test/java/org/apache/aries/itest/AbstractIntegrationTest.java
  application/application-itests/src/test/java/org/apache/aries/itest/RichBundleContext.java
  application/application-itests/src/test/java/org/apache/aries/itest/packageinfo
  application/application-itests/src/test/java/org/apache/aries/unittest
  application/application-itests/src/test/java/org/apache/aries/unittest/fixture/ArchiveFixture.java
  application/application-itests/src/test/java/org/apache/aries/unittest/fixture/packageinfo
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/DefaultInvocationHandler.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/DefaultMethodCallHandlers.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/DefaultReturnTypeHandlers.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/ExceptionListener.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/MethodCall.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/MethodCallHandler.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/ReturnTypeHandler.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/Skeleton.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/annotations/InjectSkeleton.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/annotations/Singleton.java
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/annotations/packageinfo
  application/application-itests/src/test/java/org/apache/aries/unittest/mocks/packageinfo
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/itest
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/itest/AbstractIntegrationTest.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/itest/RichBundleContext.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/itest/packageinfo
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/DefaultInvocationHandler.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/DefaultMethodCallHandlers.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/DefaultReturnTypeHandlers.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/ExceptionListener.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/MethodCall.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/MethodCallHandler.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/ReturnTypeHandler.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/Skeleton.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/annotations/InjectSkeleton.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/annotations/Singleton.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/annotations/packageinfo
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/unittest/mocks/packageinfo
Labels: application

[MAINTENANCE] Replace http sites and repositories urls with https in parent pom
  parent/pom.xml
Labels: parent

[MAINTENANCE] Visualize dependencies in submodules
  README.md
  blueprint/pom.xml
  createDependencyGraph.sh
  ejb/pom.xml
  jmx/pom.xml
  jndi/pom.xml
  parent/pom.xml
  proxy/pom.xml
  subsystem/pom.xml
  transaction/pom.xml
  web/pom.xml
Labels: blueprint, ejb, jmx, jndi, parent, proxy, subsystem, transaction, web

.github/labeler.yml:

application:
- changed-files:
  - any-glob-to-any-file: 'application/**/*'
async:
- changed-files:
  - any-glob-to-any-file: 'async/**/*'
blueprint:
- changed-files:
  - any-glob-to-any-file: 'blueprint/**/*'
eba-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'eba-maven-plugin/**/*'
ejb:
- changed-files:
  - any-glob-to-any-file: 'ejb/**/*'
esa-ant-task:
- changed-files:
  - any-glob-to-any-file: 'esa-ant-task/**/*'
esa-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'esa-maven-plugin/**/*'
jmx:
- changed-files:
  - any-glob-to-any-file: 'jmx/**/*'
jndi:
- changed-files:
  - any-glob-to-any-file: 'jndi/**/*'
parent:
- changed-files:
  - any-glob-to-any-file: 'parent/**/*'
proxy:
- changed-files:
  - any-glob-to-any-file: 'proxy/**/*'
pushstream:
- changed-files:
  - any-glob-to-any-file: 'pushstream/**/*'
samples:
- changed-files:
  - any-glob-to-any-file: 'samples/**/*'
sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/**/*'
spi-fly:
- changed-files:
  - any-glob-to-any-file: 'spi-fly/**/*'
subsystem:
- changed-files:
  - any-glob-to-any-file: 'subsystem/**/*'
testsupport:
- changed-files:
  - any-glob-to-any-file: 'testsupport/**/*'
transaction:
- changed-files:
  - any-glob-to-any-file: 'transaction/**/*'
tutorials:
- changed-files:
  - any-glob-to-any-file: 'tutorials/**/*'
util:
- changed-files:
  - any-glob-to-any-file: 'util/**/*'
versioning:
- changed-files:
  - any-glob-to-any-file: 'versioning/**/*'
web:
- changed-files:
  - any-glob-to-any-file: 'web/**/*'
