Repository wilx/aries, changes with the labels that .github/labeler.yml gives for each.
All labels: application, async, blueprint, eba-maven-plugin, ejb, esa-ant-task, esa-maven-plugin, jmx, jndi, parent, proxy, pushstream, samples, sandbox, spi-fly, subsystem, testsupport, transaction, tutorials, util, versioning, web

[MAINTENANCE] Do not override release plugin version in parent pom
  parent/pom.xml
Labels: parent

ARIES-2167: Remove not existing mc-repo.googlecode.com repo with profile from parent
  parent/pom.xml
Labels: parent

ARIES-2163: Remove LICENSE and NOTICE files from modules using new parent pom
  versioning/LICENSE
  versioning/NOTICE
  versioning/versioning-checker/LICENSE
  versioning/versioning-checker/NOTICE
Labels: versioning

[MAINTENANCE] Add todo to not override javadoc plugin version in parent pom when new apache parent pom is released
  parent/pom.xml
Labels: parent

[MAINTENANCE] Remove dependabot for not root modules
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Reconfigure jar plugin to use classifiers
  subsystem/subsystem-itests/pom.xml
Labels: subsystem

[MAINTENANCE] Do not override compiler plugin version in parent pom
  parent/pom.xml
Labels: parent

[MAINTENANCE] Remove unused dependencies in blueprint-spring
  blueprint/blueprint-spring/pom.xml
Labels: blueprint

[MAINTENANCE] Do not override shade plugin version in parent pom
  parent/pom.xml
Labels: parent

ARIES-2165: Update parent pom and build util on Java 11, 17 and 21
  .github/workflows/util.yml
  util/LICENSE
  util/NOTICE
  util/pom.xml
Labels: util

[MAINTENANCE] Link itests in jmx-itests insead of copying (#427)
  jmx/jmx-itests/src/test/java/org/apache/aries/itest
  jmx/jmx-itests/src/test/java/org/apache/aries/itest/AbstractIntegrationTest.java
  jmx/jmx-itests/src/test/java/org/apache/aries/itest/RichBundleContext.java
  jmx/jmx-itests/src/test/java/org/apache/aries/itest/packageinfo
Labels: jmx

ARIES-2164: Remove duplicated remote-resource plugin execution
  parent/pom.xml
Labels: parent

[MAINTENANCE] Updater pax-web to 8.x in jndi
  jndi/jndi-url-itest/pom.xml
  jndi/jndi-url-itest/src/test/java/org/apache/aries/jndi/itests/JndiUrlIntegrationTest.java
Labels: jndi

ARIES-2165: Update parent pom and build web on Java 11, 17 and 21
  .github/workflows/web.yml
  web/LICENSE
  web/NOTICE
  web/web-itests/LICENSE
  web/web-itests/NOTICE
  web/web-itests/pom.xml
  web/web-urlhandler/LICENSE
  web/web-urlhandler/NOTICE
  web/web-urlhandler/pom.xml
Labels: web

ARIES-2165: Build blueprint plugin with java 11, 17 and 21
  blueprint/plugin/blueprint-maven-plugin-annotation/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/custom-destination/verify.groovy
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/multiple-invocation/verify.groovy
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/pax-cdi/verify.groovy
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/produced-bean-by-method-name/verify.groovy
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/scanpath-restrict/verify.groovy
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/simple-project/verify.groovy
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/spring/verify.groovy
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/transaction-annotation/verify.groovy
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/with-provide/verify.groovy
  blueprint/plugin/blueprint-maven-plugin-pax-cdi-handlers/pom.xml
  blueprint/plugin/blueprint-maven-plugin-spi/pom.xml
  blueprint/plugin/blueprint-maven-plugin-spring-handlers/pom.xml
  blueprint/plugin/blueprint-maven-plugin/pom.xml
  blueprint/plugin/pom.xml
Labels: blueprint

[MAINTENANCE] Stay with the highest 3.x plexus-utils in eba and esa maven plugins
  eba-maven-plugin/pom.xml
  esa-maven-plugin/pom.xml
Labels: eba-maven-plugin, esa-maven-plugin

[MAINTENANCE] Set org.eclipse:osgi version to minimal supported
  .github/dependabot.yaml
  util/pom.xml
Labels: util

[MAINTENANCE] Update eclipse asm and xbean in ejb-modeller-itests
  ejb/ejb-modeller-itest/pom.xml
  ejb/ejb-modeller-itest/src/test/java/org/apache/aries/ejb/container/itest/EJBModellingTest.java
Labels: ejb

[MAINTENANCE] Do not override rat plugin version in parent pom
  parent/pom.xml
Labels: parent

[MAINTENANCE] Switch javax to jakarta servlet api
  jndi/jndi-url-itest/pom.xml
  jndi/jndi-url-itest/src/test/java/org/apache/aries/jndi/itests/JndiUrlIntegrationTest.java
Labels: jndi

ARIES-2165: Change order of maven dependencies to bump eclipse osgi to 3.17.0
  web/web-itests/pom.xml
Labels: web

ARIES-2166: Remove unnecessary dependencies in web itests
  web/web-itests/pom.xml
  web/web-itests/src/test/java/org/apache/aries/web/converter/itest/WabConverterITest.java
Labels: web

[MAINTENANCE] Add missing license header in subsystem other files
  parent/pom.xml
  subsystem/subsystem-itests/src/test/resources/META-INF/platform-equinox/definition-3.10.0.V20131210-2136.xml
  subsystem/subsystem-itests/src/test/resources/ss-runner.properties
Labels: parent, subsystem

[MAINTENANCE] Upgrade to mockito-core 4.11.0
  async/async-impl/pom.xml
  async/async-impl/src/test/java/org/apache/aries/async/impl/AsyncServiceTest.java
  jmx/jmx-core-whiteboard/pom.xml
  jmx/jmx-core/pom.xml
  jmx/jmx-core/src/test/java/org/apache/aries/jmx/cm/ConfigurationAdminTest.java
  jmx/jmx-core/src/test/java/org/apache/aries/jmx/framework/BundleStateTest.java
  jmx/jmx-core/src/test/java/org/apache/aries/jmx/framework/ServiceStateTest.java
  jmx/jmx-core/src/test/java/org/apache/aries/jmx/provisioning/ProvisioningServiceTest.java
  jmx/jmx-core/src/test/java/org/apache/aries/jmx/util/FrameworkUtilsTest.java
  jmx/jmx-whiteboard/pom.xml
  pushstream/pom.xml
  spi-fly/spi-fly-itests/test.bndrun
Labels: async, jmx, pushstream, spi-fly

Implement missing methods
  subsystem/subsystem-obr/src/main/java/org/apache/aries/subsystem/util/felix/OsgiCapabilityAdapter.java
  subsystem/subsystem-obr/src/main/java/org/apache/aries/subsystem/util/felix/OsgiRequirementAdapter.java
Labels: subsystem

[MAINTENANCE] Remove unused test helper and dependencies in blueprint-cm
  blueprint/blueprint-cm/pom.xml
  blueprint/blueprint-cm/src/test/java/org/apache/aries/blueprint/compendium/cm/Helper.java
Labels: blueprint

[MAINTENANCE] Set surefire version for blueprint and subsytem itests
  blueprint/itests/blueprint-itests/pom.xml
  subsystem/subsystem-itests/pom.xml
Labels: blueprint, subsystem

[MAINTENANCE] Set quiesce workflow depends on util
  .github/workflows/quiesce.yml
Labels: none

[ARIES-2161] update destroy method to be compatible with spring 6
  blueprint/blueprint-spring-extender/pom.xml
  blueprint/blueprint-spring-extender/src/test/java/org/apache/aries/blueprint/spring/extender/SpringXsdVersionResolverTest.java
  blueprint/blueprint-spring/pom.xml
  blueprint/blueprint-spring/src/main/java/org/apache/aries/blueprint/spring/BlueprintBeanFactory.java
  blueprint/blueprint-spring/src/main/java/org/apache/aries/blueprint/spring/BlueprintNamespaceHandler.java
Labels: blueprint

ARIES-2167: Remove eclipselink repo from parent
  parent/pom.xml
Labels: parent

ARIES-2167: Remove ops4j-snapshots repository from parent
  parent/pom.xml
Labels: parent

ARIES-2163: Enable versioning builds on java 17 and 21
  .github/workflows/versioning.yml
Labels: none

[MAINTENANCE] Add missing license header in transaction module (#438)
  transaction/transaction-blueprint/src/main/java/org/apache/aries/transaction/ComponentTxData.java
  transaction/transaction-blueprint/src/main/java/org/apache/aries/transaction/TransactionalAnnotationAttributes.java
  transaction/transaction-blueprint/src/test/java/org/apache/aries/transaction/pojo/BaseClass.java
  transaction/transaction-blueprint/src/test/java/org/apache/aries/transaction/pojo/ExtendedPojo.java
  transaction/transaction-blueprint/src/test/java/org/apache/aries/transaction/pojo/ExtendedPojo2.java
  transaction/transaction-blueprint/src/test/java/org/apache/aries/transaction/pojo/ExtendedPojo3.java
  transaction/transaction-blueprint/src/test/java/org/apache/aries/transaction/pojo/OnRollbackPojo.java
  transaction/transaction-itests/src/test/java/org/apache/aries/transaction/itests/RollbackOnTest.java
  transaction/transaction-jdbc/src/main/resources/META-INF/spring.handlers
  transaction/transaction-jdbc/src/main/resources/META-INF/spring.schemas
  transaction/transaction-manager/internals.adoc
  transaction/transaction-testbundle/src/main/java/org/apache/aries/transaction/test/RollbackOnBean.java
  transaction/transaction-testbundle/src/main/java/org/apache/aries/transaction/test/impl/RollbackOnBeanImpl.java
Labels: transaction

[MAINTENANCE] Update JNDI dependencies
  .github/workflows/jndi.yml
  jndi/jndi-url-itest/pom.xml
  jndi/jndi-url-itest/src/test/java/org/apache/aries/jndi/itests/JndiUrlIntegrationTest.java
  jndi/parent/pom.xml
Labels: jndi

[MAINTENANCE] Remove unnecessary logback dependencies from jmx-itests
  jmx/jmx-itests/pom.xml
Labels: jmx

[MAINTENANCE] Skip pax-web 9.x as not supporting java 8 (#450)
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Use mockito-core instead of mockito-all
  async/async-impl/pom.xml
  jmx/jmx-core-whiteboard/pom.xml
  jmx/jmx-core/pom.xml
  jmx/jmx-whiteboard/pom.xml
  pushstream/pom.xml
Labels: async, jmx, pushstream

[MAINTENANCE] Remove application and samples from reactor
  pom.xml
Labels: none

[MAINTENANCE] Add missing license header in subsystem java files
  subsystem/subsystem-core/src/main/java/org/apache/aries/subsystem/core/internal/InstallDependencies.java
  subsystem/subsystem-core/src/main/java/org/apache/aries/subsystem/core/internal/LockingStrategy.java
  subsystem/subsystem-core/src/test/java/org/apache/aries/subsystem/core/archive/AriesProvisionDependenciesHeaderTest.java
  subsystem/subsystem-core/src/test/java/org/apache/aries/subsystem/core/archive/SubsystemManifestEqualityTest.java
  subsystem/subsystem-core/src/test/resources/files/SUBSYSTEM1.MF
  subsystem/subsystem-core/src/test/resources/files/SUBSYSTEM2.MF
  subsystem/subsystem-itests-api-bundle/src/main/java/org/apache/aries/subsystem/itests/hello/api/Hello.java
  subsystem/subsystem-itests/src/test/bundles/cmContentBundleZ/org/apache/aries/subsystem/itests/cmcontent/impl/Activator.java
  subsystem/subsystem-itests/src/test/bundles/cmContentBundleZ/org/apache/aries/subsystem/itests/cmcontent/impl/BarManagedService.java
  subsystem/subsystem-itests/src/test/bundles/cmContentBundleZ/org/apache/aries/subsystem/itests/cmcontent/impl/BlahManagedService.java
  subsystem/subsystem-itests/src/test/bundles/dynamicImport/org/apache/aries/subsystem/itests/dynamicImport/Activator.java
  subsystem/subsystem-itests/src/test/bundles/dynamicImport/org/apache/aries/subsystem/itests/dynamicImport/DynamicImportHelloImpl.java
  subsystem/subsystem-itests/src/test/bundles/tb1/org/apache/aries/subsystem/itests/tb1/Empty.java
  subsystem/subsystem-itests/src/test/bundles/tb2/org/apache/aries/subsystem/itests/tb2/Empty.java
  subsystem/subsystem-itests/src/test/bundles/tb3/org/apache/aries/subsystem/itests/tb3/Empty.java
  subsystem/subsystem-itests/src/test/classes/a/A.java
  subsystem/subsystem-itests/src/test/classes/b/B.java
  subsystem/subsystem-itests/src/test/classes/b/a/A.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/ctt/itests/SubsystemDependencyTestBase.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/ctt/itests/SubsystemDependency_4ATest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/ctt/itests/SubsystemDependency_4BTest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/ctt/itests/SubsystemDependency_4CTest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/ctt/itests/SubsystemDependency_4DTest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/ctt/itests/SubsystemDependency_4E1Test.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/ctt/itests/SubsystemDependency_4E2Test.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/AriesSubsystemTest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/BlueprintTest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/DynamicImportTest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/Header.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/HelloWorldTest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/ModelledResourceManagerTest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/SubsystemEventHandler.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/defect/Aries1383Test.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/util/BundleArchiveBuilder.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/util/SubsystemArchiveBuilder.java
Labels: subsystem

[MAINTENANCE] Bump org.apache.felix.bundlerepository to the highest 1.x in application
  application/application-itests/pom.xml
  application/application-obr-resolver/pom.xml
  application/application-tooling-repository-generator/pom.xml
Labels: application

.github/labeler.yml:

application:
- changed-files:
  - any-glob-to-any-file: 'application/**/*'
async:
- changed-files:
  - any-glob-to-any-file: 'async/**/*'
blueprint:
- changed-files:
  - any-glob-to-any-file: 'blueprint/**/*'
eba-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'eba-maven-plugin/**/*'
ejb:
- changed-files:
  - any-glob-to-any-file: 'ejb/**/*'
esa-ant-task:
- changed-files:
  - any-glob-to-any-file: 'esa-ant-task/**/*'
esa-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'esa-maven-plugin/**/*'
jmx:
- changed-files:
  - any-glob-to-any-file: 'jmx/**/*'
jndi:
- changed-files:
  - any-glob-to-any-file: 'jndi/**/*'
parent:
- changed-files:
  - any-glob-to-any-file: 'parent/**/*'
proxy:
- changed-files:
  - any-glob-to-any-file: 'proxy/**/*'
pushstream:
- changed-files:
  - any-glob-to-any-file: 'pushstream/**/*'
samples:
- changed-files:
  - any-glob-to-any-file: 'samples/**/*'
sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/**/*'
spi-fly:
- changed-files:
  - any-glob-to-any-file: 'spi-fly/**/*'
subsystem:
- changed-files:
  - any-glob-to-any-file: 'subsystem/**/*'
testsupport:
- changed-files:
  - any-glob-to-any-file: 'testsupport/**/*'
transaction:
- changed-files:
  - any-glob-to-any-file: 'transaction/**/*'
tutorials:
- changed-files:
  - any-glob-to-any-file: 'tutorials/**/*'
util:
- changed-files:
  - any-glob-to-any-file: 'util/**/*'
versioning:
- changed-files:
  - any-glob-to-any-file: 'versioning/**/*'
web:
- changed-files:
  - any-glob-to-any-file: 'web/**/*'
