Repository wilx/aries, changes with the labels that .github/labeler.yml gives for each.
All labels: application, async, blueprint, eba-maven-plugin, ejb, esa-ant-task, esa-maven-plugin, jmx, jndi, parent, proxy, pushstream, samples, sandbox, spi-fly, subsystem, testsupport, transaction, tutorials, util, versioning, web

.github/labeler.yml:

application:
- changed-files:
  - any-glob-to-any-file: 'application/**/*'
async:
- changed-files:
  - any-glob-to-any-file: 'async/**/*'
blueprint:
- changed-files:
  - any-glob-to-any-file: 'blueprint/**/*'
eba-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'eba-maven-plugin/**/*'
ejb:
- changed-files:
  - any-glob-to-any-file: 'ejb/**/*'
esa-ant-task:
- changed-files:
  - any-glob-to-any-file: 'esa-ant-task/**/*'
esa-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'esa-maven-plugin/**/*'
jmx:
- changed-files:
  - any-glob-to-any-file: 'jmx/**/*'
jndi:
- changed-files:
  - any-glob-to-any-file: 'jndi/**/*'
parent:
- changed-files:
  - any-glob-to-any-file: 'parent/**/*'
proxy:
- changed-files:
  - any-glob-to-any-file: 'proxy/**/*'
pushstream:
- changed-files:
  - any-glob-to-any-file: 'pushstream/**/*'
samples:
- changed-files:
  - any-glob-to-any-file: 'samples/**/*'
sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/**/*'
spi-fly:
- changed-files:
  - any-glob-to-any-file: 'spi-fly/**/*'
subsystem:
- changed-files:
  - any-glob-to-any-file: 'subsystem/**/*'
testsupport:
- changed-files:
  - any-glob-to-any-file: 'testsupport/**/*'
transaction:
- changed-files:
  - any-glob-to-any-file: 'transaction/**/*'
tutorials:
- changed-files:
  - any-glob-to-any-file: 'tutorials/**/*'
util:
- changed-files:
  - any-glob-to-any-file: 'util/**/*'
versioning:
- changed-files:
  - any-glob-to-any-file: 'versioning/**/*'
web:
- changed-files:
  - any-glob-to-any-file: 'web/**/*'

[MAINTENANCE] Update pax-exam in blueprint
  blueprint/itests/blueprint-itests/pom.xml
Labels: blueprint

[MAINTENANCE] Update internal blueprint plugin dependencies (#468)
  blueprint/plugin/blueprint-maven-plugin/pom.xml
Labels: blueprint

[MAINTENANCE] Update pax-exam in proxy (#469)
  proxy/proxy-itests/pom.xml
Labels: proxy

[MAINTENANCE] Update pax-exam in jmx (#470)
  jmx/jmx-itests/pom.xml
  jmx/jmx-whiteboard/pom.xml
Labels: jmx

[MAINTENANCE] Update pax-exam in ejb (#471)
  ejb/ejb-modeller-itest/pom.xml
  ejb/openejb-extender-itest/pom.xml
  ejb/openejb-extender-itest/src/test/java/org/apache/aries/ejb/openejb/extender/itest/AbstractOpenEJBTest.java
  ejb/openejb-extender-itest/src/test/java/org/apache/aries/ejb/openejb/extender/itest/AdvancedEJBBundleTest.java
  ejb/openejb-extender-itest/src/test/java/org/apache/aries/ejb/openejb/extender/itest/EJBBundleTest.java
Labels: ejb

[MAINTENANCE] Update pax-exam in transaction (#473)
  transaction/transaction-itests/pom.xml
Labels: transaction

[MAINTENANCE] Extract common itests options
  testsupport/testsupport-unit/pom.xml
  testsupport/testsupport-unit/src/main/java/org/apache/aries/itest/AbstractIntegrationTest.java
Labels: testsupport

[MAINTENANCE] Update pax-exam tests for modules supporting pax-exam 4.x
  application/application-itests/src/test/java/org/apache/aries/application/runtime/itests/BasicAppManagerTest.java
  application/application-itests/src/test/java/org/apache/aries/application/runtime/itests/BasicNoOpResolverTest.java
  application/application-itests/src/test/java/org/apache/aries/application/runtime/itests/IsolatedCfgAdminRuntimeTest.java
  application/application-itests/src/test/java/org/apache/aries/application/runtime/itests/IsolatedRuntimeTest.java
  application/application-itests/src/test/java/org/apache/aries/application/runtime/itests/MinimumImportsTest.java
  application/application-itests/src/test/java/org/apache/aries/application/runtime/itests/OBRAppManagerTest.java
  application/application-itests/src/test/java/org/apache/aries/application/runtime/itests/OBRResolverAdvancedTest.java
  application/application-itests/src/test/java/org/apache/aries/application/runtime/itests/OBRResolverTest.java
  application/application-itests/src/test/java/org/apache/aries/application/runtime/itests/UpdateAppTest.java
  application/application-resolve-transform-cm-itests/src/test/java/org/apache/aries/application/resolve/transform/cm/itest/ConfigurationPostResolverTest.java
  blueprint/itests/blueprint-itests/src/test/java/org/apache/aries/blueprint/itests/AbstractBlueprintIntegrationTest.java
  blueprint/itests/blueprint-itests/src/test/java/org/apache/aries/blueprint/itests/ParserServiceImportAndIncludeXSDsTest.java
  blueprint/itests/blueprint-itests/src/test/java/org/apache/aries/blueprint/itests/ParserServiceImportCmAndIncorrectNamespaceHandlersTest.java
  blueprint/itests/blueprint-itests/src/test/java/org/apache/aries/blueprint/itests/ParserServiceImportXSDsBetweenNamespaceHandlersTest.java
  ejb/ejb-modeller-itest/src/test/java/org/apache/aries/ejb/container/itest/EJBModellingTest.java
  ejb/openejb-extender-itest/src/test/java/org/apache/aries/ejb/openejb/extender/itest/AbstractOpenEJBTest.java
  jmx/jmx-itests/pom.xml
  jmx/jmx-itests/src/test/java/org/apache/aries/itest
  jmx/jmx-itests/src/test/java/org/apache/aries/jmx/AbstractIntegrationTest.java
  jmx/jmx-itests/src/test/java/org/apache/aries/jmx/framework/BundleStateMBeanTest.java
  jmx/jmx-itests/src/test/java/org/apache/aries/jmx/framework/FrameworkMBeanTest.java
  jmx/jmx-itests/src/test/java/org/apache/aries/jmx/framework/ServiceStateMBeanTest.java
  jmx/jmx-itests/src/test/java/org/apache/aries/jmx/framework/wiring/BundleWiringStateMBeanTest.java
  jmx/jmx-itests/src/test/java/org/apache/aries/jmx/permissionadmin/PermissionAdminMBeanTest.java
  jmx/jmx-whiteboard/src/test/java/org/apache/aries/jmx/whiteboard/integration/helper/IntegrationTestBase.java
  jndi/jndi-url-itest/src/test/java/org/apache/aries/jndi/itests/JndiUrlIntegrationTest.java
  quiesce/quiesce-manager-itest/src/test/java/org/apache/aries/quiesce/manager/itest/QuiesceManagerTest.java
  subsystem/subsystem-itests/src/test/java/org/apache/aries/subsystem/itests/SubsystemTest.java
  web/web-itests/src/test/java/org/apache/aries/web/converter/itest/WabConverterITest.java
Labels: application, blueprint, ejb, jmx, jndi, subsystem, web

[MAINTENANCE] Use testsupport bundle in transaction itests
  .github/workflows/transaction.yml
  testsupport/testsupport-unit/src/main/java/org/apache/aries/itest/AbstractIntegrationTest.java
  transaction/transaction-itests/pom.xml
  transaction/transaction-itests/src/test/java/org/apache/aries/transaction/itests/AbstractIntegrationTest.java
Labels: testsupport, transaction

[MAINTENANCE] Use testsupport bundle in proxy itests
  .github/workflows/proxy.yml
  proxy/proxy-itests/pom.xml
  proxy/proxy-itests/src/test/java/org/apache/aries/proxy/itests/AbstractProxyTest.java
Labels: proxy

[MAINTENANCE] Sync labels in PRs (#474)
  .github/workflows/labeler.yml
Labels: none

[MAINTENANCE] Fix not usable pax-exam-container-forked
  .github/dependabot.yaml
  ejb/openejb-extender-itest/pom.xml
  transaction/transaction-itests/pom.xml
Labels: ejb, transaction

[MAINTENANCE] Organize pax dependency version properties
  application/application-itests/pom.xml
  application/application-resolve-transform-cm-itests/pom.xml
  blueprint/itests/blueprint-itests/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/custom-destination/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/fail-on-conflict/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/multiple-invocation/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/pax-cdi/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/produced-bean-by-method-name/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/scanpath-restrict/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/simple-project/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/spring/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/transaction-annotation/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/with-provide/a/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/with-provide/b/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/src/it/with-provide/c/pom.xml
  blueprint/plugin/blueprint-maven-plugin-pax-cdi-handlers/pom.xml
  blueprint/plugin/blueprint-maven-plugin/pom.xml
  ejb/ejb-modeller-itest/pom.xml
  ejb/openejb-extender-itest/pom.xml
  jmx/jmx-itests/pom.xml
  jmx/jmx-whiteboard/pom.xml
  jndi/jndi-url-itest/pom.xml
  proxy/proxy-itests/pom.xml
  quiesce/quiesce-manager-itest/pom.xml
  subsystem/subsystem-itests/pom.xml
  transaction/transaction-itests/pom.xml
  web/web-itests/pom.xml
Labels: application, blueprint, ejb, jmx, jndi, proxy, subsystem, transaction, web

[MAINTENANCE] Update pax-exam in jndi
  jndi/jndi-url-itest/pom.xml
Labels: jndi

[MAINTENANCE] Update pax-exam in application
  application/application-resolve-transform-cm-itests/pom.xml
Labels: application

[MAINTENANCE] Update osgi runtime in blueprint itests
  .github/workflows/blueprint.yml
  blueprint/blueprint-bundle/pom.xml
  blueprint/blueprint-core/pom.xml
  blueprint/blueprint-repository/pom.xml
  blueprint/itests/blueprint-itests/pom.xml
  blueprint/itests/blueprint-itests/src/test/java/org/apache/aries/blueprint/itests/AbstractBlueprintIntegrationTest.java
  blueprint/itests/blueprint-itests/src/test/java/org/apache/aries/blueprint/itests/Helper.java
Labels: blueprint

[MAINTENANCE] Bump eclipse to 3.15.300 in blueprint itests
  blueprint/itests/blueprint-itests/pom.xml
Labels: blueprint

[MAINTENANCE] Do not run blueprint plugin in blueprint workflow
  .github/workflows/blueprint-plugin.yml
  .github/workflows/blueprint.yml
  blueprint/pom.xml
  pom.xml
Labels: blueprint

Add missing copyright notices to fix the build.
  async/async-api/src/main/java/org/osgi/service/async/delegate/packageinfo
  async/async-api/src/main/java/org/osgi/service/async/packageinfo
  async/promise-api/src/main/java/org/apache/aries/async/promise/packageinfo
  async/promise-api/src/main/java/org/osgi/util/function/packageinfo
  async/promise-api/src/main/java/org/osgi/util/promise/packageinfo
Labels: async

Update org.apache:apache to version 33.
  pushstream/pom.xml
Labels: pushstream

Create maven.yml
  .github/workflows/maven.yml
Labels: none

[MAINTENANCE] Add subsystem workflow and bump logback version
  .github/workflows/subsystem.yml
  subsystem/subsystem-itests/pom.xml
Labels: subsystem

ARIES-2160 - Simple MBeanServer based on the platform implementation
  jmx/pom.xml
Labels: jmx

[MAINTENANCE] Add transaction workflow
  .github/workflows/transaction.yml
  transaction/transaction-itests/pom.xml
Labels: transaction

ARIES-2160 - Simple MBeanServer based on the platform implementation
  jmx/jmx-itests/pom.xml
  jmx/jmx-itests/src/test/java/org/apache/aries/jmx/AbstractIntegrationTest.java
  jmx/jmx-itests/src/test/java/org/apache/aries/jmx/test/MbeanServerActivator.java
Labels: jmx

[maven-release-plugin] prepare for next development iteration
  jmx/jmx-mbeanserver-platform/pom.xml
Labels: jmx

ARIES-2160 - Simple MBeanServer based on the platform implementation
  jmx/jmx-mbeanserver-platform/pom.xml
  jmx/jmx-mbeanserver-platform/src/main/java/org/apache/aries/jmx/mbean_server/platform/impl/Activator.java
Labels: jmx

[MAINTENANCE] Add jndi workflow and bump logback version
  .github/workflows/jndi.xml
  jndi/jndi-url-itest/pom.xml
Labels: jndi

[maven-release-plugin] prepare release org.apache.aries.jmx.mbeanserver-platform-0.0.1
  jmx/jmx-mbeanserver-platform/pom.xml
Labels: jmx

[MAINTENANCE] Fix jndi workflow
  .github/workflows/jndi.xml
Labels: none

[MAINTENANCE] Fix jndi workflow
  .github/workflows/jndi.yml
Labels: none

[MAINTENANCE] Bump jmx mbeanserver platform version in itests after release
  jmx/jmx-itests/pom.xml
Labels: jmx

[MAINTENANCE] Add web workflow and bump logback version
  .github/workflows/web.yml
  web/web-itests/pom.xml
Labels: web

[MAINTENANCE] Add EJB workflow
  .github/workflows/ejb.yml
  README.md
  ejb/ejb-modeller-itest/pom.xml
  ejb/openejb-extender-itest/pom.xml
  ejb/openejb-extender-itest/src/test/java/org/apache/aries/ejb/openejb/extender/itest/AbstractOpenEJBTest.java
Labels: ejb

[MAINTENANCE] Run spi-fly builds on Java LTS versions
  .github/workflows/spi-fly.yml
  spi-fly/spi-fly-itests/test.bndrun
Labels: spi-fly

[MAINTENANCE] Extract dependency versions to properties - quiesce
  quiesce/quiesce-manager-itest/pom.xml
  quiesce/quiesce-manager/pom.xml
Labels: none

[MAINTENANCE] Add CI build for eba-maven-plugin
  .github/workflows/eba-maven-plugin.yml
Labels: none

[MAINTENANCE] Exclude maven-bundle-plugin 6.x and bndlib 7.x from dependabot checks
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Remove tutorial CI status missing from README
  README.md
Labels: none

[MAINTENANCE] Extract dependency versions to properties - util
  util/pom.xml
Labels: util
