Repository wilx/aries, changes with the labels that .github/labeler.yml gives for each.
All labels: application, async, blueprint, eba-maven-plugin, ejb, esa-ant-task, esa-maven-plugin, jmx, jndi, parent, proxy, pushstream, samples, sandbox, spi-fly, subsystem, testsupport, transaction, tutorials, util, versioning, web

.github/labeler.yml:

application:
- changed-files:
  - any-glob-to-any-file: 'application/**/*'
async:
- changed-files:
  - any-glob-to-any-file: 'async/**/*'
blueprint:
- changed-files:
  - any-glob-to-any-file: 'blueprint/**/*'
eba-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'eba-maven-plugin/**/*'
ejb:
- changed-files:
  - any-glob-to-any-file: 'ejb/**/*'
esa-ant-task:
- changed-files:
  - any-glob-to-any-file: 'esa-ant-task/**/*'
esa-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'esa-maven-plugin/**/*'
jmx:
- changed-files:
  - any-glob-to-any-file: 'jmx/**/*'
jndi:
- changed-files:
  - any-glob-to-any-file: 'jndi/**/*'
parent:
- changed-files:
  - any-glob-to-any-file: 'parent/**/*'
proxy:
- changed-files:
  - any-glob-to-any-file: 'proxy/**/*'
pushstream:
- changed-files:
  - any-glob-to-any-file: 'pushstream/**/*'
samples:
- changed-files:
  - any-glob-to-any-file: 'samples/**/*'
sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/**/*'
spi-fly:
- changed-files:
  - any-glob-to-any-file: 'spi-fly/**/*'
subsystem:
- changed-files:
  - any-glob-to-any-file: 'subsystem/**/*'
testsupport:
- changed-files:
  - any-glob-to-any-file: 'testsupport/**/*'
transaction:
- changed-files:
  - any-glob-to-any-file: 'transaction/**/*'
tutorials:
- changed-files:
  - any-glob-to-any-file: 'tutorials/**/*'
util:
- changed-files:
  - any-glob-to-any-file: 'util/**/*'
versioning:
- changed-files:
  - any-glob-to-any-file: 'versioning/**/*'
web:
- changed-files:
  - any-glob-to-any-file: 'web/**/*'

[MAINTENANCE] Add CI build for esa-ant-task
  .github/workflows/esa-ant-task.yml
Labels: none

[MAINTENANCE] Extract dependency versions to properties - ejb
  ejb/ejb-modeller-itest/pom.xml
  ejb/ejb-modeller/pom.xml
  ejb/openejb-extender-itest/pom.xml
  ejb/openejb-extender/pom.xml
Labels: ejb

[MAINTENANCE] Add licence to files missing it
  jmx/tck/apply_to_tck.sh
  jmx/tck/org.osgi.test.cases.jmx.bnd.bnd
Labels: jmx

[MAINTENANCE] Add async workflow
  .github/workflows/async.yml
  async/async-api/pom.xml
Labels: async

[MAINTENANCE] Enable dependabot for all maven submodules with CI builds
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Extract dependency versions to properties - jmx
  jmx/jmx-api/pom.xml
  jmx/jmx-blueprint-api/pom.xml
  jmx/jmx-blueprint-bundle/pom.xml
  jmx/jmx-blueprint-core/pom.xml
  jmx/jmx-bundle/pom.xml
  jmx/jmx-core-whiteboard/pom.xml
  jmx/jmx-core/pom.xml
  jmx/jmx-itests/pom.xml
  jmx/jmx-mbeanserver-platform/pom.xml
  jmx/jmx-whiteboard/pom.xml
  jmx/pom.xml
Labels: jmx

[MAINTENANCE] Add note why application module cannot be build
  README.md
Labels: none

[MAINTENANCE] Simplify jmx workflow
  .github/workflows/jmx.yml
Labels: none

[MAINTENANCE] Extract dependency versions to properties - subsystem
  subsystem/subsystem-api/pom.xml
  subsystem/subsystem-bundle/pom.xml
  subsystem/subsystem-core/pom.xml
  subsystem/subsystem-example/subsystem-helloIsolation/pom.xml
  subsystem/subsystem-example/subsystem-helloIsolationRef/pom.xml
  subsystem/subsystem-executor/pom.xml
  subsystem/subsystem-gogo-command/pom.xml
  subsystem/subsystem-install/pom.xml
  subsystem/subsystem-itests-api-bundle/pom.xml
  subsystem/subsystem-itests/pom.xml
  subsystem/subsystem-obr/pom.xml
  subsystem/subsystem-scope-api/pom.xml
  subsystem/subsystem-scope-impl/pom.xml
  subsystem/subsystem-scope-itests/pom.xml
Labels: subsystem

[MAINTENANCE] Extract dependency versions to properties - testsupport
  testsupport/testsupport-unit/pom.xml
Labels: testsupport

[MAINTENANCE] Exclude sprintframework update to version not supporting java 8
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Exclude derby update to version not supporting java 8
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Add CI build for util
  .github/workflows/util.yml
Labels: none

[MAINTENANCE] Update junit in spi-fly
  spi-fly/pom.xml
  spi-fly/spi-fly-itests/test.bndrun
Labels: spi-fly

[MAINTENANCE] Skip dependabot for subsystem/subsystem-scope-* without CI builds
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Extract dependency versions to properties - proxy
  proxy/pom.xml
  proxy/proxy-api/pom.xml
  proxy/proxy-impl/pom.xml
  proxy/proxy-itests/pom.xml
Labels: proxy

[MAINTENANCE] Update maven dependencies in versioning
  versioning/versioning-plugin/pom.xml
Labels: versioning

ARIES-2163: Remove tools-maven-plugin
  parent/pom.xml
Labels: parent

ARIES-2163: Use parent pom in versioning modules
  pom.xml
  versioning/pom.xml
  versioning/versioning-checker/pom.xml
  versioning/versioning-plugin/pom.xml
Labels: versioning

[MAINTENANCE] Skip spring-context 6.x and pax-exam 4.14.x upgrades as not supporting java 8
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Update guava in blueprint-maven-plugin to 33.4.0-jre
  blueprint/plugin/blueprint-maven-plugin-pax-cdi-handlers/pom.xml
  blueprint/plugin/blueprint-maven-plugin-spring-handlers/pom.xml
Labels: blueprint

ARIES-2165: Update parent pom and build testsupport on Java 11, 17 and 21
  .github/workflows/testsupport.yml
  testsupport/LICENSE
  testsupport/NOTICE
  testsupport/pom.xml
  testsupport/testsupport-unit/LICENSE
  testsupport/testsupport-unit/NOTICE
  testsupport/testsupport-unit/pom.xml
Labels: testsupport

ARIES-2163: Replace ianal with geronimo tools-maven-plugin and update apache parent pom
  parent/pom.xml
Labels: parent

ARIES-2165: Duplicate testsupport classes in jmx-itests
  jmx/jmx-itests/pom.xml
  jmx/jmx-itests/src/test/java/org/apache/aries/itest/AbstractIntegrationTest.java
  jmx/jmx-itests/src/test/java/org/apache/aries/itest/RichBundleContext.java
  jmx/jmx-itests/src/test/java/org/apache/aries/itest/packageinfo
  jmx/jmx-itests/src/test/java/org/apache/aries/jmx/AbstractIntegrationTest.java
Labels: jmx

[MAINTENANCE] Remove unnecessary dependencies from quiesce (#416)
  quiesce/quiesce-manager-itest/pom.xml
  quiesce/quiesce-manager-itest/src/test/java/org/apache/aries/quiesce/manager/itest/QuiesceManagerTest.java
Labels: none

[MAINTENANCE] Remove unused dependencies in blueprint-spring-extender
  blueprint/blueprint-spring-extender/pom.xml
Labels: blueprint

ARIES-2165: Build parent pom in workflows using testsupport
  .github/workflows/blueprint.yml
  .github/workflows/ejb.yml
  .github/workflows/jmx.yml
  .github/workflows/jndi.yml
  .github/workflows/quiesce.yml
  .github/workflows/subsystem.yml
  .github/workflows/web.yml
Labels: none

ARIES-2165: Cleanup dependencies
  blueprint/plugin/blueprint-maven-plugin/pom.xml
Labels: blueprint

ARIES-2165: Skip versioning plugin in parent pom
  parent/pom.xml
Labels: parent

[MAINTENANCE] Use eclipse platform not tycho dependency in subsystem
  subsystem/subsystem-bundle/pom.xml
  subsystem/subsystem-itests/pom.xml
Labels: subsystem

ARIES-2165: Add separate workflow for blueprint plugin
  .github/workflows/blueprint-plugin.yml
Labels: none

[MAINTENANCE] Configure reuse forks in blueprint and subsystem
  blueprint/itests/blueprint-itests/pom.xml
  subsystem/subsystem-itests/pom.xml
Labels: blueprint, subsystem

[MAINTENANCE] Remove forkMode removed parameter from surefire
  blueprint/itests/blueprint-itests/pom.xml
  ejb/ejb-modeller-itest/pom.xml
  jmx/jmx-itests/pom.xml
  jndi/jndi-url-itest/pom.xml
  parent/pom.xml
  proxy/proxy-itests/pom.xml
  spi-fly/pom.xml
  subsystem/subsystem-itests/pom.xml
  web/web-itests/pom.xml
Labels: blueprint, ejb, jmx, jndi, parent, proxy, spi-fly, subsystem, web

[MAINTENANCE] Split maven executions in workflows (#433)
  .github/workflows/application.yml
  .github/workflows/async.yml
  .github/workflows/blueprint.yml
  .github/workflows/eba-maven-plugin.yml
  .github/workflows/ejb.yml
  .github/workflows/esa-ant-task.yml
  .github/workflows/esa-maven-plugin.yml
  .github/workflows/jmx.yml
  .github/workflows/jndi.yml
  .github/workflows/proxy.yml
  .github/workflows/pushstream.yml
  .github/workflows/quiesce.yml
  .github/workflows/spi-fly.yml
  .github/workflows/subsystem.yml
  .github/workflows/testsupport.yml
  .github/workflows/transaction.yml
  .github/workflows/util.yml
  .github/workflows/versioning.yml
  .github/workflows/web.yml
Labels: none

[MAINTENANCE] Run test profile for esa and eba plugins in workflows
  .github/workflows/eba-maven-plugin.yml
  .github/workflows/esa-maven-plugin.yml
Labels: none

Do not update modules without CI builds
  application/application-itests/pom.xml
  application/application-resolve-transform-cm-itests/pom.xml
  samples/blog/blog-itests/pom.xml
  samples/twitter/twitter-itests/pom.xml
Labels: application, samples

ARIES-2165: Update parent pom and build quiesce on Java 11, 17 and 21
  .github/workflows/quiesce.yml
  quiesce/pom.xml
  quiesce/quiesce-api/LICENSE
  quiesce/quiesce-api/NOTICE
  quiesce/quiesce-api/pom.xml
  quiesce/quiesce-manager-itest/LICENSE
  quiesce/quiesce-manager-itest/NOTICE
  quiesce/quiesce-manager-itest/pom.xml
  quiesce/quiesce-manager/LICENSE
  quiesce/quiesce-manager/NOTICE
  quiesce/quiesce-manager/pom.xml
Labels: none

[MAINTENANCE] Ignore mockito 5.x as not supporting Java 8
  .github/dependabot.yaml
Labels: none

ARIES-2165: Add util to dirs observed by web workflow
  .github/workflows/web.yml
Labels: none

Update xbean-finder-shaded
  blueprint/plugin/blueprint-maven-plugin/pom.xml
Labels: blueprint
