Repository wilx/aries, changes with the labels that .github/labeler.yml gives for each.
All labels: application, async, blueprint, eba-maven-plugin, ejb, esa-ant-task, esa-maven-plugin, jmx, jndi, parent, proxy, pushstream, samples, sandbox, spi-fly, subsystem, testsupport, transaction, tutorials, util, versioning, web

Do not update depencies in modules without CI builds
  samples/pom.xml
Labels: samples

[MAINTENANCE] Extract dependency versions to properties - eba-maven-plugin
  eba-maven-plugin/pom.xml
Labels: eba-maven-plugin

[MAINTENANCE] Make proxy pass itests
  proxy/proxy-api/pom.xml
  proxy/proxy-impl/pom.xml
  proxy/proxy-itests/pom.xml
  proxy/proxy-itests/src/test/java/org/apache/aries/proxy/itests/AbstractProxyTest.java
Labels: proxy

[MAINTENANCE] Extract dependency versions to properties - versioning
  versioning/versioning-checker/pom.xml
  versioning/versioning-plugin/pom.xml
Labels: versioning

[MAINTENANCE] Extract dependency versions to properties - samples
  samples/ariestrader/assemblies/ariestrader-all-eba/pom.xml
  samples/ariestrader/assemblies/ariestrader-jdbc-eba/pom.xml
  samples/ariestrader/assemblies/equinox-test-harness/pom.xml
  samples/ariestrader/modules/ariestrader-api/pom.xml
  samples/ariestrader/modules/ariestrader-beans/pom.xml
  samples/ariestrader/modules/ariestrader-derby-ds/pom.xml
  samples/ariestrader/modules/ariestrader-entities/pom.xml
  samples/ariestrader/modules/ariestrader-persist-jdbc/pom.xml
  samples/ariestrader/modules/ariestrader-util/pom.xml
  samples/ariestrader/modules/ariestrader-web/pom.xml
  samples/ariestrader/modules/pom.xml
  samples/blog/blog-api/pom.xml
  samples/blog/blog-assembly/pom.xml
  samples/blog/blog-biz/pom.xml
  samples/blog/blog-comment-ejb/pom.xml
  samples/blog/blog-datasource/pom.xml
  samples/blog/blog-itests/pom.xml
  samples/blog/blog-jdbc-eba/pom.xml
  samples/blog/blog-jpa-eba/pom.xml
  samples/blog/blog-persistence-jdbc/pom.xml
  samples/blog/blog-persistence-jpa/pom.xml
  samples/blog/blog-web/pom.xml
  samples/blog/pom.xml
  samples/blueprint/helloworld/helloworld-assembly/pom.xml
  samples/blueprint/helloworld/helloworld-client/pom.xml
  samples/blueprint/helloworld/helloworld-eba/pom.xml
  samples/blueprint/helloworld/helloworld-itests/pom.xml
  samples/blueprint/helloworld/helloworld-server/pom.xml
  samples/blueprint/helloworld/pom.xml
  samples/blueprint/idverifier/idverifier-api/pom.xml
  samples/blueprint/idverifier/idverifier-assembly/pom.xml
  samples/blueprint/idverifier/idverifier-client/pom.xml
  samples/blueprint/idverifier/idverifier-server/pom.xml
  samples/blueprint/idverifier/pom.xml
  samples/blueprint/pom.xml
  samples/twitter/pom.xml
  samples/twitter/twitter-bundle/pom.xml
  samples/twitter/twitter-itests/pom.xml
  samples/twitter/twitter-twitter4j/pom.xml
Labels: samples

[MAINTENANCE] Extract dependency versions to properties - pushstream
  pushstream/pom.xml
  pushstream/pushstream/pom.xml
Labels: pushstream

[MAINTENANCE] Add CI build for pushstream
  .github/workflows/pushstream.yml
  pushstream/pom.xml
Labels: pushstream

[MAINTENANCE] Increase dependabot limit
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Group spring version properties
  blueprint/blueprint-spring/pom.xml
  transaction/transaction-manager/pom.xml
Labels: blueprint, transaction

[MAINTENANCE] Group pax-web dependencies with single variable
  jndi/jndi-url-itest/pom.xml
Labels: jndi

Do not update depencies in modules without CI builds
  application/application-tooling-repository-generator/pom.xml
  samples/pom.xml
Labels: application, samples

[MAINTENANCE] Extract dependency versions to properties - async
  async/async-all-index/pom.xml
  async/async-all/pom.xml
  async/async-api/pom.xml
  async/async-impl/pom.xml
  async/async-index/pom.xml
  async/promise-api/pom.xml
Labels: async

[MAINTENANCE] Skip dependabot for submodules without CI builds
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Extract dependency versions to properties - transaction
  transaction/transaction-blueprint/pom.xml
  transaction/transaction-itests/pom.xml
  transaction/transaction-jdbc/pom.xml
  transaction/transaction-jms/pom.xml
  transaction/transaction-manager/pom.xml
  transaction/transaction-testbundle/pom.xml
  transaction/transaction-testds/pom.xml
Labels: transaction

[MAINTENANCE] Build CI on parent pom change
  .github/workflows/async.yml
  .github/workflows/blueprint.yml
  .github/workflows/jmx.yml
  .github/workflows/jndi.yml
  .github/workflows/proxy.yml
  .github/workflows/quiesce.yml
  .github/workflows/spi-fly.yml
  .github/workflows/subsystem.yml
  .github/workflows/transaction.yml
  .github/workflows/versioning.yml
  .github/workflows/web.yml
Labels: none

Change java version format passed to compiler plugin
  spi-fly/pom.xml
Labels: spi-fly

[MAINTENANCE] Extract dependency versions to properties - esa-ant-task (format only)
  esa-ant-task/pom.xml
Labels: esa-ant-task

[MAINTENANCE] Exclude bnd-maven-plugin update to version not supporting java 8
  .github/dependabot.yaml
Labels: none

Do not update modules without CI builds
  samples/pom.xml
Labels: samples

[MAINTENANCE] Bump derby in transaction to highest supporting java 8
  transaction/transaction-testds/pom.xml
Labels: transaction

[MAINTENANCE] Add CI build for esa-maven-plugin
  .github/workflows/esa-maven-plugin.yml
Labels: none

[MAINTENANCE] Update parent pom in web itests
  web/web-itests/pom.xml
Labels: web

[MAINTENANCE] Extract dependency versions to properties - spi-fly
  spi-fly/pom.xml
  spi-fly/spi-fly-core/pom.xml
  spi-fly/spi-fly-dynamic-bundle/pom.xml
  spi-fly/spi-fly-dynamic-framework-extension/pom.xml
  spi-fly/spi-fly-examples/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-client1-bundle/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-client1-jar/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-client2-bundle/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-client3-bundle/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-client3-fragment/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-provider-consumer-bundle/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-provider1-bundle/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-provider1-jar/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-provider2-bundle/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-provider3-bundle/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-provider3-fragment/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-resource-client-bundle/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-resource-provider-bundle/pom.xml
  spi-fly/spi-fly-examples/spi-fly-example-spi-bundle/pom.xml
  spi-fly/spi-fly-itests/pom.xml
  spi-fly/spi-fly-static-bundle/pom.xml
  spi-fly/spi-fly-weaver/pom.xml
Labels: spi-fly

[MAINTENANCE] Extract dependency versions to properties - application
  application/application-api/pom.xml
  application/application-bundle/pom.xml
  application/application-converters/pom.xml
  application/application-default-local-platform/pom.xml
  application/application-deployment-management/pom.xml
  application/application-distro/pom.xml
  application/application-install/pom.xml
  application/application-isolated-distro/pom.xml
  application/application-itest-interface/pom.xml
  application/application-itests/pom.xml
  application/application-management/pom.xml
  application/application-modeller-common-test/pom.xml
  application/application-modeller-standalone/pom.xml
  application/application-modeller/pom.xml
  application/application-noop-resolver/pom.xml
  application/application-obr-resolver/pom.xml
  application/application-resolve-transform-cm-itests/pom.xml
  application/application-resolve-transform-cm/pom.xml
  application/application-runtime-framework-management/pom.xml
  application/application-runtime-framework/pom.xml
  application/application-runtime-isolated/pom.xml
  application/application-runtime-repository/pom.xml
  application/application-runtime/pom.xml
  application/application-tooling-repository-generator/pom.xml
  application/application-utils/pom.xml
Labels: application

[MAINTENANCE] Add proxy workflow
  .github/workflows/proxy.yml
Labels: none

[MAINTENANCE] Add CI build for testsupport
  .github/workflows/testsupport.yml
Labels: none

[MAINTENANCE] Extract dependency versions to properties - blueprint
  blueprint/blueprint-api/pom.xml
  blueprint/blueprint-authz/pom.xml
  blueprint/blueprint-bundle/pom.xml
  blueprint/blueprint-cm/pom.xml
  blueprint/blueprint-compatibility/pom.xml
  blueprint/blueprint-core/pom.xml
  blueprint/blueprint-distro/pom.xml
  blueprint/blueprint-jexl-evaluator/pom.xml
  blueprint/blueprint-noosgi/pom.xml
  blueprint/blueprint-parent/pom.xml
  blueprint/blueprint-parser/pom.xml
  blueprint/blueprint-repository/pom.xml
  blueprint/blueprint-spring-camel/pom.xml
  blueprint/blueprint-spring-extender/pom.xml
  blueprint/blueprint-spring/pom.xml
  blueprint/blueprint-web-osgi/pom.xml
  blueprint/blueprint-web/pom.xml
  blueprint/examples/blueprint-sample-fragment/pom.xml
  blueprint/examples/blueprint-sample-war/pom.xml
  blueprint/examples/blueprint-sample/pom.xml
  blueprint/itests/blueprint-itests/pom.xml
  blueprint/itests/blueprint-testbundlea/pom.xml
  blueprint/itests/blueprint-testbundleb/pom.xml
  blueprint/itests/blueprint-testbundlee/pom.xml
  blueprint/itests/blueprint-testbundles/pom.xml
  blueprint/itests/blueprint-testquiescebundle/pom.xml
  blueprint/plugin/blueprint-maven-plugin-annotation/pom.xml
  blueprint/plugin/blueprint-maven-plugin-itest/pom.xml
  blueprint/plugin/blueprint-maven-plugin-pax-cdi-handlers/pom.xml
  blueprint/plugin/blueprint-maven-plugin-spi/pom.xml
  blueprint/plugin/blueprint-maven-plugin-spring-handlers/pom.xml
  blueprint/plugin/blueprint-maven-plugin/pom.xml
Labels: blueprint

[MAINTENANCE] Add versioning workflow
  .github/workflows/versioning.yml
  versioning/versioning-checker/pom.xml
  versioning/versioning-plugin/pom.xml
Labels: versioning

[MAINTENANCE] Enrich readme with CI build statuses
  README.md
Labels: none

[MAINTENANCE] Fix jmx-whiteboard tests
  jmx/jmx-whiteboard/pom.xml
Labels: jmx

[MAINTENANCE] Extract dependency versions to properties - esa-maven-plugin
  esa-maven-plugin/pom.xml
Labels: esa-maven-plugin

[MAINTENANCE] Extract dependency versions to properties - parent (format only)
  parent/pom.xml
Labels: parent

[MAINTENANCE] Extract dependency versions to properties - web
  web/web-itests/pom.xml
  web/web-urlhandler/pom.xml
Labels: web

[MAINTENANCE] Ignore openjpa 4.x as not supporting Java 8
  .github/dependabot.yaml
Labels: none

[MAINTENANCE] Add quiesce workflow
  .github/workflows/quiesce.yml
  quiesce/quiesce-manager-itest/pom.xml
Labels: none

[MAINTENANCE] Bump logback version
  proxy/proxy-itests/pom.xml
Labels: proxy

Do not update dependencies in modules without CI builds
  application/application-modeller-common-test/pom.xml
Labels: application

[MAINTENANCE] Do not fail fast in workflows
  .github/workflows/async.yml
  .github/workflows/blueprint.yml
  .github/workflows/eba-maven-plugin.yml
  .github/workflows/ejb.yml
  .github/workflows/esa-ant-task.yml
  .github/workflows/esa-maven-plugin.yml
  .github/workflows/jmx.yml
  .github/workflows/jndi.yml
  .github/workflows/proxy.yml
  .github/workflows/pushstream.yml
  .github/workflows/quiesce.yml
  .github/workflows/spi-fly.yml
  .github/workflows/subsystem.yml
  .github/workflows/testsupport.yml
  .github/workflows/transaction.yml
  .github/workflows/util.yml
  .github/workflows/versioning.yml
  .github/workflows/web.yml
Labels: none

[MAINTENANCE] Add workflow timeouts
  .github/workflows/blueprint.yml
  .github/workflows/jmx.yml
  .github/workflows/jndi.yml
  .github/workflows/spi-fly.yml
  .github/workflows/subsystem.yml
  .github/workflows/transaction.yml
  .github/workflows/web.yml
Labels: none

[MAINTENANCE] Extract dependency versions to properties - jndi
  jndi/jndi-api/pom.xml
  jndi/jndi-bundle/pom.xml
  jndi/jndi-core/pom.xml
  jndi/jndi-legacy-support/pom.xml
  jndi/jndi-rmi/pom.xml
  jndi/jndi-url-itest-biz/pom.xml
  jndi/jndi-url-itest-web/pom.xml
  jndi/jndi-url-itest/pom.xml
  jndi/jndi-url/pom.xml
  jndi/parent/pom.xml
  jndi/pom.xml
Labels: jndi

.github/labeler.yml:

application:
- changed-files:
  - any-glob-to-any-file: 'application/**/*'
async:
- changed-files:
  - any-glob-to-any-file: 'async/**/*'
blueprint:
- changed-files:
  - any-glob-to-any-file: 'blueprint/**/*'
eba-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'eba-maven-plugin/**/*'
ejb:
- changed-files:
  - any-glob-to-any-file: 'ejb/**/*'
esa-ant-task:
- changed-files:
  - any-glob-to-any-file: 'esa-ant-task/**/*'
esa-maven-plugin:
- changed-files:
  - any-glob-to-any-file: 'esa-maven-plugin/**/*'
jmx:
- changed-files:
  - any-glob-to-any-file: 'jmx/**/*'
jndi:
- changed-files:
  - any-glob-to-any-file: 'jndi/**/*'
parent:
- changed-files:
  - any-glob-to-any-file: 'parent/**/*'
proxy:
- changed-files:
  - any-glob-to-any-file: 'proxy/**/*'
pushstream:
- changed-files:
  - any-glob-to-any-file: 'pushstream/**/*'
samples:
- changed-files:
  - any-glob-to-any-file: 'samples/**/*'
sandbox:
- changed-files:
  - any-glob-to-any-file: 'sandbox/**/*'
spi-fly:
- changed-files:
  - any-glob-to-any-file: 'spi-fly/**/*'
subsystem:
- changed-files:
  - any-glob-to-any-file: 'subsystem/**/*'
testsupport:
- changed-files:
  - any-glob-to-any-file: 'testsupport/**/*'
transaction:
- changed-files:
  - any-glob-to-any-file: 'transaction/**/*'
tutorials:
- changed-files:
  - any-glob-to-any-file: 'tutorials/**/*'
util:
- changed-files:
  - any-glob-to-any-file: 'util/**/*'
versioning:
- changed-files:
  - any-glob-to-any-file: 'versioning/**/*'
web:
- changed-files:
  - any-glob-to-any-file: 'web/**/*'
